.why-choose-us-section{
    margin: 1rem 3rem 1rem 4rem;
    h3{
        margin: 0;
        color: #1090CB;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
    }
    p{
        text-align: justify;
        font-size: 18px;
        color: #868686;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        line-height: 35px;
    }
}


@media (max-width: 700px) {
    .why-choose-us-section{
        margin: 15px 25px;
        h3{
            font-size: 18px !important;
        }
        p{
            font-size: 12px;
            line-height: 20px;
        }
    }
}