.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 600px) {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px;
    }
}

.links {
    margin-bottom: 10px;

    @media (min-width: 600px) {
        margin-bottom: 0;
    }

    .link {
        color: #fff;
        margin: 0 15px;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
            color: #1090CB; // Change color on hover
        }
    }
}

.socialMedia {
    .socialLink {
        color: #fff;
        margin: 0 10px;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
            color: #1090CB; // Change color on hover
        }
    }
}

.copyRight {
    margin-top: 10px;
    font-size: 14px;
}
